<h2 mat-dialog-title>Create User Account Form</h2>
<form [formGroup]="userForm" #formValue="ngForm">
  <perfect-scrollbar class="container" [config]="">  
  <div mat-dialog-content>
    <mat-grid-list cols="0" rowHeight="300px">
      <mat-grid-tile>
        <div class="controles-container">
          <mat-form-field appearance="outline">
            <mat-label>UserName</mat-label>
            <input matInput formControlName="username" placeholder="UserName">
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Password</mat-label>
            <input matInput formControlName="Password" placeholder="Password">
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Roles</mat-label>
            <select matNativeControl required>
              <option value="admin">Admin</option>
              <option value="user">User</option>
              <option value="payroll">payroll</option>
            </select>
          </mat-form-field>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
  </perfect-scrollbar>
</form>
<div mat-dialog-action class="dialogAction" >
  <button mat-raised-button color="warn" mat-dialog-close><mat-icon>close</mat-icon>close</button>
  <button mat-raised-button color="primary" (click)="addUser()" [disabled]="formValue.form.invalid"><mat-icon>add</mat-icon>Save
  </button>
</div>