<div class="panel panel-primary">
    <div class="panel-heading">
      <h2>List of System User</h2>
      <button class="add-button" mat-button color="primary" (click)="openDialog()"> <mat-icon>add</mat-icon>Add More User</button>
    </div>
    <div class="panel-body">
      <table class="styled-table">
        <thead>
          <tr>
            <th>Id</th>
            <th>UserName</th>
            <th>Role</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of userAccount">
            <td>{{data.id}}</td>
            <td>{{data.username}}</td>
            <td>{{data.role}}</td>
            <td>
              <button class="add-button" mat-button color="primary" (click)="openDialog()"> <mat-icon>edit</mat-icon></button>
              <button class="add-button" mat-button color="accent" (click)="openDialog()"> <mat-icon>folder_open</mat-icon></button>
              <button class="add-button" mat-button color="warn" > <mat-icon>delete</mat-icon></button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  