<div class="panel panel-primary">
  <div class="panel-heading">
    <h2>List of registered Customer</h2>
    <button class="add-button" mat-button color="primary" (click)="openDialog()"> <mat-icon>add</mat-icon>add more customer</button>
  </div>
  <div class="panel-body">
    <table class="styled-table">
      <thead>
        <tr>
          <th>Id</th>
          <th>first name</th>
          <th>last name</th>
          <th>address</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of customer">
          <td>{{data.id}}</td>
          <td>{{data.fname}}</td>
          <td>{{data.lname}}</td>
          <td>{{data.address}}</td>
          <td>
            <button class="add-button" mat-button color="primary" (click)="openDialog()"> <mat-icon>edit</mat-icon></button>
            <button class="add-button" mat-button color="accent" (click)="openDialog()"> <mat-icon>folder_open</mat-icon></button>
            <button class="add-button" mat-button color="warn" > <mat-icon>delete</mat-icon></button>

          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
