<h2 mat-dialog-title>Customer Registration Form</h2>

<form [formGroup]="registrationForm" #formValue="ngForm">
  <div mat-dialog-content>
    <mat-grid-list cols="2" rowHeight="300px">
      <mat-grid-tile>
        <div class="controles-container">
          <mat-form-field appearance="outline">
            <mat-label>First Name</mat-label>
            <input matInput formControlName="fname" placeholder="First Name">
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Last Name</mat-label>
            <input matInput formControlName="lname" placeholder="Last Name">
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Adress</mat-label>
            <input matInput formControlName="address" placeholder="Address">
          </mat-form-field>
        </div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div class="controles-container">
          <mat-form-field appearance="outline">
            <mat-label>First Name</mat-label>
            <input matInput formControlName="fname" placeholder="First Name">
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Last Name</mat-label>
            <input matInput formControlName="lname" placeholder="Last Name">
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Adress</mat-label>
            <input matInput formControlName="address" placeholder="Address">
          </mat-form-field>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
</form>
<div mat-dialog-action class="dialogAction" >
  <button mat-raised-button color="warn" mat-dialog-close><mat-icon>close</mat-icon>close</button>
  <button mat-raised-button color="primary" (click)="addCustomer()" [disabled]="formValue.form.invalid"><mat-icon>add</mat-icon>Save
  </button>
</div>